{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-white mb-4">Каталог товарів</h2>

  <!-- Форма пошуку -->
  <form method="GET" class="mb-4">
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <input type="text" name="search" class="form-control" placeholder="Пошук товарів..." value="{{ request.GET.search }}">
      </div>
      <div class="col-auto">
        <select name="brand" class="form-select">
          <option value="">Всі бренди</option>
          {% for brand in brands %}
          <option value="{{ brand }}" {% if request.GET.brand == brand %}selected{% endif %}>{{ brand }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Пошук</button>
      </div>
    </div>
  </form>

  <!-- Сітка товарів -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in products %}
    <div class="col">
      <div class="card h-100 text-bg-dark">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
            <h5 class="card-title text-center">{{ product.name }}</h5>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-white">Товари не знайдені.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
