{% extends 'base.html' %}
{% block content %}
<h2>{{ product.name }}</h2>

{% if product.image %}
  <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width:300px;">
{% endif %}

<p>{{ product.description }}</p>
<p>Ціна: {{ product.price }} грн</p>

<!-- Кнопки -->
<form method="post" action="{% url 'shop:add_to_cart' product.id %}">
  {% csrf_token %}
  <button type="submit" name="action" value="add">Додати в кошик</button>
  <button type="submit" name="action" value="buy">Купити</button>
</form>

{% endblock %}
